 .home-page {
     /* position: sticky;  */
    top: 20% ;
    left: 35% ;
    width: 100%;
} 

.home-page h1 {
    font-size: 5rem;
    font-weight: 900;
    color:darkslategray ;
}

.home-page p {
    font-size: 0.8rem;
    margin-left: 100%;
    font-family: fantasy;
}

.home-page .show {

    padding: 1rem 2rem;
    margin-left: 4.4%;
    border-radius: 10%;
    font-weight: bold;
    letter-spacing: 1.5px;

}

.home-page pre {

    color: white;

}